body {
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .login-form styling */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-right: 10px;
  width: 75px;
}

input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

/* Image styling */
.shatterlogo {
  width: 100px;
  margin-bottom: 1rem;
  margin-top: 50px;
}


/* DASHBOARD */

.dashboard-container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.dashboard-content {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  margin-bottom: 1rem;
}

.dashboard p {
  margin-bottom: 1rem;
}

.dashboard form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.dashboard label {
  margin-bottom: 0.5rem;
  width: 90%;
}

.dashboard input, .dashboard textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
  width: 95%;
}

.dashboard button[type="submit"] {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 1rem;
}

.dashboard textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}

/* NAVBAR */
.nav {
  display: flex;
  background-color: rgb(32,33,36);
  width: 100%;
  justify-content: space-between;
}

.nav p {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}
.cases-nav-links {
  color: blue;
}
.models-div {
  display: flex;
  overflow-x: scroll;
}
.models-div p {
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  
}

/* PHONE CASES */
.phone-cases-div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.phone-card-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
